body, html{
   height: 100%; /* this is important */  
   margin: 0;
   font-size: 16px;
   font-family: 'Courier New', Courier, monospace;
   font-weight: 400;
   line-height: 1.8em;
   color: #666;
}

.parallax-1{
    background-image: url(images/Image1.jpg);
    min-height: 100%;
}

.parallax-2{
    background-image: url(images/Image2.jpg);
    min-height: 100%;
}

.parallax-3{
    background-image: url(images/Image3.jpg);
    min-height: 100%;
}

section{
   text-align: center;
   padding: 40px 70px;
}

.section-light{
   background-color: #f4f4f4;
}

.section-dark{
    background-color: rgb(40, 46, 52);
    color: #ddd;
}

.parallax-1,
.parallax-2,
.parallax-3{
   position: relative;
   opacity: 0.7;
   background-position: center;
   background-size: cover;
   background-repeat: no-repeat;
   background-attachment: fixed;
}

.parallax-text{
   position: absolute;
   top: 50%;
   width: 100%;
   text-align: center;
   font-size: 2em;
   letter-spacing: 0.3em;
   text-transform: uppercase;
   font-weight: 600;
   
}

span{
    background-color: #111;
    color: #fff;
    padding: 0.5em;
    border-radius: 0.5em 0 ;
    text-shadow:5px 5px 10px white;
}

.trans{
   background-color: transparent;
}










